* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "DM Sans", sans-serif;
  margin: 0 auto;
  max-width: 1920px; }

.header {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2.25rem 0;
  width: 100%;
  padding-top: 2.6rem;
  padding-bottom: 3.75rem;
  font-family: inherit;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%); }
  .header__logo {
    width: 9.4rem; }
  .header__title {
    display: flex;
    flex-direction: column;
    gap: 1.5rem 0;
    width: 90%;
    min-width: 288px;
    max-width: 900px; }
  .header__h1 {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.2em;
    color: #FAF8F7; }
  .header__p {
    font-size: .9em;
    font-weight: 500;
    line-height: 1.2em;
    color: #ffe9d5; }
  .header__btn {
    position: absolute;
    top: calc(100% - 1.5rem);
    padding: 1rem;
    font-weight: 700;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    color: #282623;
    background: #FAF8F7;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16); }
  .header__btn-icon {
    display: inline-block;
    margin-left: .7rem;
    width: 1rem;
    height: .8rem;
    vertical-align: middle;
    background-image: url("../assets/icons/down-arrow.svg");
    background-repeat: no-repeat; }

.exchange {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2.5rem;
  background: #FAF8F7; }
  .exchange__img {
    margin-top: 3.75rem; }
  .exchange__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 90%; }
  .exchange__h2 {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.2em; }
  .exchange__p {
    font-size: .9em;
    font-weight: 500;
    line-height: 1.2em;
    color: #bababa; }
  .exchange__slider {
    padding: 40px 0; }
  .exchange__slider-wrapper {
    width: 90%;
    max-width: 700px;
    overflow: hidden; }

.slider-wrapper {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  align-items: center;
  gap: 1em; }
  .slider-wrapper__body {
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
    grid-template-columns: 1fr max-content;
    align-items: center;
    opacity: 0;
    transition: opacity .5s;
    pointer-events: none; }
  .slider-wrapper__body--show {
    opacity: 1;
    pointer-events: unset; }
  .slider-wrapper__arrow {
    cursor: pointer;
    transform: translateY(50%); }
  .slider-wrapper__arrow:nth-of-type(2) {
    justify-self: start; }
  .slider-wrapper__arrow:nth-of-type(1) {
    justify-self: end;
    transform: translateY(50%) rotate(180deg); }

.coin-table__title {
  text-align: start;
  margin-left: 20px;
  margin-bottom: 12px;
  color: #f7931a;
  font-size: 1.1rem; }

.coin-table__title--commissions {
  color: #1a9af7; }

.coin-table__grid {
  display: grid;
  grid-template-columns: 1fr 100px;
  place-items: center;
  gap: 1px;
  border-radius: 16px;
  font-family: "Inter", sans-serif; }

.coin-table__item {
  padding: 12px 16px;
  width: 100%;
  height: 100%;
  background-color: #fff; }

.coin-table__coin-type {
  color: #B5B0AC;
  justify-self: start; }

.coin-table__coin-price {
  color: #757575;
  font-size: .8rem; }

.coin-table__icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  vertical-align: middle;
  background-repeat: no-repeat; }

.coin-table__icon--up {
  display: inline-block;
  background-image: url("../assets/icons/trending-up.svg"); }

.coin-table__icon--down {
  display: inline-block;
  background-image: url("../assets/icons/trending-down.svg"); }

.coin-table__notification {
  max-width: 180px;
  margin: 0 auto;
  margin-top: 16px;
  padding: 8px 4px;
  border-radius: 4px;
  font-size: .8rem;
  font-family: "Inter", sans-serif;
  background: #ffe9d5; }

.coin-table__notification--bold {
  font-weight: bold; }

.coin-table__notification--commissions {
  background: #e7f5ff; }

.coin-table__item:first-child {
  border-top-left-radius: 8px; }

.coin-table__item:last-child {
  border-bottom-right-radius: 8px; }

.coin-table__item:nth-child(2) {
  border-top-right-radius: 8px; }

.coin-table__item:nth-child(7) {
  border-bottom-left-radius: 8px; }

@media screen and (min-width: 768px) {
  .slider-wrapper {
    grid-template-columns: 1fr 1fr;
    max-width: none;
    overflow: visible; }
    .slider-wrapper__body {
      opacity: 1;
      grid-column: auto; }
  .slider-wrapper__arrow {
    display: none; } }

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 4rem 0;
  width: 100%;
  color: #fff;
  background: #282623; }
  .cards__title {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    gap: 1.5rem; }
  .cards__h4 {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.2em; }
  .cards__p {
    font-size: .8em;
    line-height: 1.1em;
    color: #808080; }
  .cards__grid {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    gap: 1rem;
    width: 90%; }

.cards-grid__item {
  display: flex;
  flex-direction: column;
  gap: .6rem;
  padding: 1rem .8rem;
  text-align: start;
  background: #282623;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  border-radius: 4px; }

.cards-grid__img {
  width: 20px;
  height: 20px; }

.cards-grid__p {
  font-size: .8em;
  color: #808080; }

@media screen and (min-width: 768px) {
  .cards__grid {
    grid-template-columns: repeat(2, minmax(50%, 400px)); } }

.img-cover {
  width: 100%;
  max-height: 400px; }
  .img-cover__img {
    width: 100%;
    max-height: 400px;
    object-fit: cover; }

.plans {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4rem 0; }
  .plans__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.1rem;
    width: 90%;
    gap: 1.5rem; }
  .plans__h2 {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.2em; }
  .plans__p {
    font-size: .8em;
    line-height: 1.2em;
    color: #757575; }
  .plans__slider {
    display: flex;
    padding-top: 40px;
    max-width: 200px;
    min-height: 300px;
    gap: 1rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory; }

.plans-cards {
  min-width: 190px;
  max-height: 267px;
  padding: 30px 0 25px 0;
  margin: .4rem;
  background: #fff;
  scroll-snap-align: center;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16); }
  .plans-cards__h6 {
    font-size: .8em; }
  .plans-cards__price-container {
    display: flex;
    justify-content: center;
    margin: .5rem 0;
    font-family: "Inter", sans-serif; }
  .plans-cards__price {
    font-size: 3.75em;
    font-weight: 700;
    letter-spacing: -4px; }
  .plans-cards__icon {
    margin-top: .8rem;
    font-size: .8em; }
  .plans-cards__p {
    padding: 0 4px;
    font-size: .75em;
    color: #757575; }
  .plans-cards__btn {
    position: relative;
    margin-top: 1rem;
    padding: .8rem 1rem;
    padding-right: 2.5rem;
    font-size: .8em;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    color: #BABABA;
    border: 2px solid #BABABA;
    border-radius: 4px;
    background: #fff; }
  .plans-cards__btn-icon {
    position: absolute;
    display: inline-block;
    top: calc(50% - 11px);
    right: 12px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-image: url("../assets/icons/arrow-right.svg"); }
  .plans-cards__banner {
    position: absolute;
    padding: .4rem;
    left: 50%;
    top: 0;
    transform: translateX(-50%) translateY(-50%);
    font-size: .75em;
    font-weight: 700;
    border-radius: 8px;
    color: #fff;
    background: #f7931a; }
  .plans-cards__btn--recommended {
    color: #201e1c;
    background: #FAF8F7;
    border: 2px solid #f7931a; }
  .plans-cards__btn-icon--recommended {
    background-image: url("../assets/icons/orange-right-arrow.svg"); }

.plans-cards--recommended {
  position: relative; }

@media screen and (min-width: 768px) {
  .plans__slider {
    max-width: 670px;
    justify-content: center;
    scroll-snap-type: none;
    overflow-x: visible; }
  .plans-cards {
    max-width: 190px;
    scroll-snap-align: unset; }
  .plans__card:nth-child(odd) {
    order: 100; } }

.footer {
  display: flex;
  justify-content: center;
  padding: 3rem;
  gap: 4rem;
  background: #f7931a; }
  .footer__list {
    list-style: none; }
  .footer__li {
    font-size: .8rem;
    color: #fff; }
