.plans {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4rem 0;

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.1rem;
    gap: 1.5rem;
  }

  &__h2 {
    font-size: 1.5em;
    font-weight: $size-700;
    line-height: 1.2em;
  }

  &__p {
    font-size: .8em;
    line-height: 1.2em;
    color: #757575;;
  }

  &__slider {
    display: flex;
    padding-top: 40px;
    max-width: 200px;
    min-height: 300px;
    gap: 1rem;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
}

.plans-cards {
  min-width: 190px;
  max-height: 267px;
  padding: 30px 0 25px 0;
  margin: .4rem;
  background: $just-white;

  scroll-snap-align: center;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);

  &__h6 {
    font-size: .8em;
  }

  &__price-container {
    display: flex;
    justify-content: center;
    margin: .5rem 0;
    font-family: $secondary-font;
  }

  &__price {
    font-size: 3.75em;
    font-weight: $size-700;
    letter-spacing: -4px;
  }

  &__icon {
    margin-top: .8rem;
    font-size: .8em;
  }

  &__p {
    padding: 0 4px;
    font-size: .75em;
    color:#757575;
  }

  &__btn {
    position: relative;
    margin-top: 1rem;
    padding: .8rem 1rem;
    padding-right: 2.5rem;
    font-size: .8em;
    font-family: $primary-font;
    font-weight: $size-700;

    color: #BABABA;
    border: 2px solid #BABABA;
    border-radius: 4px;
    background: $just-white;
  }
  
  &__btn-icon {
    position: absolute;
    display: inline-block;
    top: calc(50% - 11px);
    right: 12px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-image: url("../assets/icons/arrow-right.svg");
  }

  &__banner {
    position: absolute;
    padding: .4rem;
    left: 50%;
    top: 0;
    transform: translateX(-50%) translateY(-50%);

    font-size: .75em;
    font-weight: $size-700;
    border-radius: 8px;
    color: $just-white;
    background: $primary-color;
  }

  &__btn--recommended {
    color: $black;
    background: $off-white;
    border: 2px solid $primary-color;
  }
  &__btn-icon--recommended {
    background-image: url("../assets/icons/orange-right-arrow.svg");
  }
}

.plans-cards--recommended {
  position: relative;
}